<%- include("partials/header", {title: "Studenttindex"}) %>
<%- include("partials/navbar", {title:"Home"}) %>

<div class="main-content">
    <div class="container">
        <div class="entry-header">
            <div class="entry-title">
                <h2>Add new event</h2>
            </div><!-- -->
        </div><!-- -->
    </div><!-- container -->
</div><!-- main-content -->


<div style="width: 70%; margin: 0px auto;margin-bottom: 10px;">
  <button id="toggle" class="btn btn-primary" value="Event" onclick="shownoteentry()">Add note</button><br>
    <form action="/addevent" method=post>
        <input type="text" id="eventtype" name="eventtype" value="Event" hidden>
        <div class="form-group">
         <label for="text-box" style="color: black; font-weight: bold;" aria-readonly="true">Register Number</label>
         <input name="regno" type="text"  class = "form-control" id="text-box" value="<%= registernumber %>" >
        </div>

        <div class="form-group">
          <label for="text-box" style="color: black; font-weight: bold;">Event Name</label>
          <input type="text" name="eventname" class="form-control" id="text-box" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="big-text-box" style="color: black; font-weight: bold;">Event Description</label>
            <textarea class="form-control" name="eventdesc" id="text-box" rows="5" autocomplete="off"></textarea>
        </div>

        <div id="eventsdetails">
        <div class="form-group">
            <label for="text-box" style="color: black; font-weight: bold;">Venue</label>
            <input type="text" name="eventlocation" class="form-control" id="text-box" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="text-box" style="color: black; font-weight: bold;">Date</label>
            <input type="date" name="eventdate" class="form-control" id="start" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="text-box" style="color: black; font-weight: bold;">Email for Reminder</label>
            <input type="email" name="reminderemail" class="form-control" id="text-box" autocomplete="off">
          </div>
        </div><hr>
        <div class="form-group">
          <label for="text-box" style="color: black; font-weight: bold;">When do you want to get remainder ?</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderdate" value="1hour" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            One hour
          </label>
        </div><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderdate" id="flexRadioDefault2" value="3hour" >
          <label class="form-check-label" for="flexRadioDefault2">
            Three hour
          </label>
        </div><br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="reminderdate" id="flexRadioDefault2" value="1day" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            One day
          </label>
        </div><br>
        
        <button type="submit" class="btn btn-primary">Add the event</button>
    </form>
</div>

<%- include("partials/footer") %>
