<%- include("partials/header2", {title: "Admin Registration"}) %>

    <% if(failure) { %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% } %>

    <form class="login-form" action="/adminregister" method="post">
        <h1>Admin Registration</h1>
    
        <div class="txtb">
            <input name="email" type="text" placeholder="Admin ID" id="adminid">
        </div>

        <div class="txtb">
        <input name="password" type="password" placeholder="Password" id="password">
        </div>

        <div class="show-password">
        <input type="checkbox" id="password-checkbox" name="password-checkbox" value="invisible">
        <label for="password-checkbox"> Show password</label><br>
        </div>

        <button type="login" class="btn btn-outline-light btn-lg btn-block login-btn">Signup</button>
        
    </form>

<%- include("partials/footer2") %>