<%- include("partials/header3", {title: "AdminForum"}) %>
<%- include("partials/navbar3", {active:"AdminForum"}) %>

<% if(failure) { %>
    <div style ="margin-left:15%;float: left;" class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% } %>

    <!-- <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-3">
                        <h1 class="site-branding flex">
                            <a href="/adminindex">Welcome Admin</a>
                        </h1><br>
                        
                        <a style="margin-left:35px;font-size: 18px;" href="/logout">Logout</a>
                        <a style="margin-left:35px;font-size: 18px;margin-bottom: 10px;" href="/adminindex">Post Today Question</a>
                             
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <main style="margin-top: 58px">
        <div class="container pt-4">
    <div class="main-content">
        <div class="container">
            <div class="entry-header">
                <div class="alert alert-info" role="alert" style="width: 80%;">
                    For only posting one leave other blank
                </div>
                <div class="entry-title">
                    <h3> Announce a information</h3><br>
                    <form class = "question-form" action="/adminforum" method= "post" >
                        <div class ="txtb">
                            <textarea name = "news" id="news" rows="8" cols="90" placeholder = "Enter your information" ></textarea>
                        </div><br>
                        <div class="txtb">
                            <input name="createdAt" id="createdAt" type="date" placeholder="Enter date" >
                        </div><br>
                        <div class="txtb">
                            <input name="url" id ="url" type="url" placeholder="Paste url if any" >
                        </div><br>
                        <hr>
                        <h3>Raise a forum</h3>
                        <div class="txtb">
                            <p>Topic of Discussion</p>
                            <textarea name = "forumtopic" id="forumtopic" rows="8" cols="90" ></textarea>
                        </div><br>

                        <button type="submit" class="btn btn-info btn-lg btn-block admin-btn" style="width: 250px;">Post information</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </main>


<%- include("partials/footer") %>