<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas molestiae beatae corporis accusantium enim atque, quidem odio! Numquam repellat, neque ipsa odio perferendis quam dolor quos vero dolorum odit quas.</p>
</body>
</html>