<%- include("partials/header", {title: "Counsellor Index"}) %>
<%- include("partials/navbar2", {title:"Home"}) %>
<a href="/bookappointment">Book an Appointment</a>
<h1>Your Counselee </h1>

<%- include("partials/footer") %>