
<%- include("partials/header2", {title: "Sign Up"}) %>

<% if(failure) { %>
  <div class="alert alert-danger" role="alert">
      <%= msg %>
  </div>
<% } %>

<form class="login-form-reg" action="/counsellorregistration" method="post" enctype="multipart/form-data">
  <h1>Counsellor Registration</h1>

  <div class = "txtb">
    <img id="frame" width="100%"> 
    <input name="file" type="file" id = "file" onchange="preview()" placeholder="Upload an image">
  </div>
  
  <div class="txtb">
    <input name="fname" type="text" placeholder="First Name" id="fname" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="mname" type="text" placeholder="Middle Name" id="mname" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="lname" type="text" placeholder="Last Name" id="lname" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="designation" type="text" placeholder="Enter your designation/post" id="designation" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="age" type="number" placeholder="Enter your age" id="age" autocomplete="off">
  </div>

  <div class="">
    Gender:<br>
    <input type="radio" name="gender" id="gender_m" value="Male">
    <label for="gender_m">Male</label>
    <input type="radio" name="gender" id="gender_f" value="Female">
    <label for="gender_f">Female</label>
    <input type="radio" name="gender" id="gender_o" value="Other">
    <label for="gender_o">Other</label>
  </div>

  <div class="txtb">
    <input name="email" type="email" placeholder="Enter email" id="email" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="summary" type="text" placeholder="Brief summary of yourself" id="summary" autocomplete="off">
  </div>

  <div class="txtb">
    <input name="password" type="password" placeholder="Password" id="password">
  </div>

  <div class="txtb">
    <input name="phno" type="text" placeholder="Phone Number" id="phno" >
  </div>

  <button type="submit" class="btn btn-outline-light btn-lg btn-block signup-btn">Create account</button>

  <div class="bottom-txt">
      <p>Already have an account? <a href="/counsellorlogin">Login</a></p>
  </div>

</form>

<%- include("partials/footer2") %>
