/*This part is all regarding form css */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #e0e9ef, #e2baf3);
}

a {
    color: #62760c;
} 

a:hover {
    color: orange;
    text-decoration: none;
}

p {
    margin-top: 40px;
    margin-bottom: 2px;
    color: #adadad;
}

ol {
    color: #adadad;
}

.alert {
    position: absolute;
    width: 30%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.box {
    top: 70px;
}

.login-form {
    width:500px;
    height: 500px;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 50px;
}

.login-form-reg {
    width:500px;
    height: 800px;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 50px 40px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48%);
}
.login-form-reg h1 {
    text-align: center;
    margin-bottom: 50px;
}
.txtb {
    border-bottom: 2px solid #adadad;
    margin-bottom: 25px;
}

.txtb input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #f5f2d0;
    background: none;
    height: 25px;
}

.show-password {
    color: #adadad;
    margin-bottom: 30px;
    text-align: center;
}

.bottom-txt {
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
}

#constraint-txt {
    position: absolute;
    font-size: 0.8rem;
}

.forgot-password-form {
    height: 400px;
}

.forgot-password-btn {
    margin-top: 50px;
}