<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!---{{>navbar}}-->
    <h1>Welcome to the body</h1>
    <p>If you are new:</p>
    <a href="register.hbs">Signup</a>
    <p>Have an account</p>
    <a href = "login.hbs">Login</a>
</body>
</html>